<div class="row">
    <h1>Educación</h1>
    <div class="col-lg-11">
        <ul>
            <li>
                <h2>Estudio 1</h2> - <h3>En la actualidad</h3>
            </li>
            <p>Procesamiento de oficios judiciales, sucesiones, concursos y quiebras y sociedades.</p>
        </ul>
        <ul>
            <li>
                <h2>Estudio 2</h2> - <h3>4 años</h3>
            </li>
            <p>Grabación de datos e ingreso a sistema de recetas de medicamentos. Auditoría. Atención del call center ponos PAP</p>
        </ul>
        <ul>
            <li>
                <h2>Estudio 3</h2> - <h3>3 años</h3>
            </li>
            <p>Líder sector prorrateo para la aerolínea Gol. Facturación interlineal. Prorrateo de boletos de aviòn de distintas compañías aéreas brasileras. Manejo de SQL</p>
        </ul>
    </div>
</div>
