<div class="row">
    <h1>Hard & Soft Skills</h1>
    <div class="text-center col-sm-4 col-md-4 col-lg-4" >
        <circle-progress 
        [percent]="80" 
        [radius]="100"
        [imageSrc]="'../assets/html.png'"
        [showImage]="true"
        [imageHeight]="70"
        [imageWidth]="70"
        [showUnits]="false"
        [title]="'HTML'" 
        [titleColor]="'purple'"
        [titleFontSize]="'2em'"
        [outerStrokeWidth]="5"
        [outerStrokeWidth]="8" 
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'rgb(190, 84, 211)'" 
        [innerStrokeColor]="'rgb(235, 174, 250)'" 
        [animation]="true"
        [animationDuration]="600">
        </circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4" >
        <circle-progress 
        [percent]="75" 
        [radius]="100"
        [imageSrc]="'../assets/css3.png'"
        [showImage]="true"
        [imageHeight]="60"
        [imageWidth]="60"
        [showUnits]="false"
        [title]="'CSS3'" 
        [titleColor]="'purple'"
        [titleFontSize]="'2em'"
        [outerStrokeWidth]="5"
        [outerStrokeWidth]="8" 
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'rgb(190, 84, 211)'" 
        [innerStrokeColor]="'rgb(235, 174, 250)'" 
        [animation]="true"
        [animationDuration]="600">
        </circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4" >
        <circle-progress 
        [percent]="70" 
        [radius]="100"
        [imageSrc]="'../assets/JavaScript.png'"
        [showImage]="true"
        [imageHeight]="110"
        [imageWidth]="110"
        [showUnits]="false"
        [title]="'JavaScript'" 
        [titleColor]="'purple'"
        [titleFontSize]="'2em'"
        [outerStrokeWidth]="5"
        [outerStrokeWidth]="8" 
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'rgb(190, 84, 211)'" 
        [innerStrokeColor]="'rgb(235, 174, 250)'" 
        [animation]="true"
        [animationDuration]="600">
        </circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4" >
        <circle-progress 
        [percent]="60" 
        [radius]="100"
        [imageSrc]="'../assets/python.jpg'"
        [showImage]="true"
        [imageHeight]="70"
        [imageWidth]="70"
        [showUnits]="false"
        [title]="'Python'" 
        [titleColor]="'purple'"
        [titleFontSize]="'2em'"
        [outerStrokeWidth]="5"
        [outerStrokeWidth]="8" 
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'rgb(190, 84, 211)'" 
        [innerStrokeColor]="'rgb(235, 174, 250)'" 
        [animation]="true"
        [animationDuration]="600">
        </circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4" >
        <circle-progress 
        [percent]="85" 
        [radius]="100"
        [imageSrc]="'../assets/ingles.png'"
        [showImage]="true"
        [imageHeight]="70"
        [imageWidth]="70"
        [showUnits]="false"
        [title]="'Ingles'" 
        [titleColor]="'purple'"
        [titleFontSize]="'2em'"
        [outerStrokeWidth]="5"
        [outerStrokeWidth]="8" 
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'rgb(190, 84, 211)'" 
        [innerStrokeColor]="'rgb(235, 174, 250)'" 
        [animation]="true"
        [animationDuration]="600">
        </circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4" >
        <circle-progress 
        [percent]="90" 
        [radius]="100"
        [imageSrc]="'../assets/trabajoEnEquipo.png'"
        [showImage]="true"
        [imageHeight]="70"
        [imageWidth]="70"
        [showUnits]="false"
        [title]="'HTML'" 
        [titleColor]="'purple'"
        [titleFontSize]="'2em'"
        [outerStrokeWidth]="5"
        [outerStrokeWidth]="8" 
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'rgb(190, 84, 211)'" 
        [innerStrokeColor]="'rgb(235, 174, 250)'" 
        [animation]="true"
        [animationDuration]="600">
        </circle-progress>
    </div>
</div>