<div class="row">
    <div class="row">
        <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
            <img src="../../../assets/foto_perfil.jpg" class="img-fluid" id="fotodeperfil">
        </div>
        <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
            <p id="nombre">{{persona.nombre}} {{persona.apellido}}</p>
            <p>Full Stack Developer Jr</p>
        </div>
        <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
            <span>
                <h1>Acerca de mí</h1>
                <p>He participado en diversos proyectos, los
                    últimos orientados al ingreso de datos. Se
                    destacó mi labor en Ceicom Indra
                    Company. En función de los proyectos en
                    los que estuve, pude perfeccionarme en el
                    manejo de SQL Server</p>
            </span>
        </div>
    </div> 
</div>

       